NODE_ENV='development'

# Main app url
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# Database
DATABASE_URL='postgresql://username:password@localhost:5432/test_db'

# GitHub oauth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
